.ipynb_checkpoints
.vscode
checkpoints/*
data/*
hf_home
md2d/__pycache__
md2d/.ipynb_checkpoints
retrieval_data/*
splade/weights/*
splade/training_with_sentence_transformers/output/*
**/slurm-*.out
**/__pycache__
**/*logs